/*========================================
=            Scroll animation            =
========================================*/

.anima.fade-in{
    opacity:0;
    -webkit-transition:opacity .5s ease-out;
    transition:opacity .5s ease-out;
}

.anima.fade-in.in{
    opacity:1;
}

.anima.scale-in{
    opacity:0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform:scale(0.5);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.17,.89,.67,1.57), opacity .6s ease-out;
    transition: transform .6s cubic-bezier(.17,.89,.67,1.57), opacity .6s ease-out;
}

.anima.scale-in.in{
    opacity:1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform:scale(1);
}

.anima.fade-right{
    opacity:0;
    -webkit-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    transform:translateX(-60px);
    -webkit-transition: -webkit-transform .5s ease-out,opacity .5s ease-out;
    transition: transform .5s ease-out,opacity .5s ease-out;
}

.anima.fade-right.in{
    opacity:1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform:translateX(0px);
}

.anima.fade-left{
    opacity:0;
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform:translateX(60px);
    -webkit-transition: -webkit-transform .5s ease-out,opacity .5s ease-out;
    transition: transform .5s ease-out,opacity .5s ease-out;
}

.anima.fade-left.in{
    opacity:1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform:translateX(0px);
}

.anima.fade-up{
    opacity:0;
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform:translateY(60px);
    -webkit-transition: -webkit-transform .5s ease-out,opacity .5s ease-in;
    transition: transform .5s ease-out,opacity .5s ease-in-out;
}

.anima.fade-up.in{
    opacity:1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform:translateY(0px);
}

.anima.fade-down{
    opacity:0;
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform:translateY(-60px);
    -webkit-transition: -webkit-transform .5s ease-out,opacity .5s ease-in;
    transition: transform .5s ease-out,opacity .5s ease-in-out;
}

.anima.fade-down.in{
    opacity:1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform:translateY(0px);
}

.anima.d1{
    transition-delay:.3s;
}

.anima.d2{
    transition-delay:.6s;
}

.anima.d3{
    transition-delay:.9s;
}

.anima.d4{
    transition-delay:1.2s;
}

.touch .anima.fade-in{
    opacity:1;
}

.touch .anima.scale-in{
    opacity:1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform:scale(1);
}

.touch .anima.fade-right{
    opacity:1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform:translateX(0px);
}

.touch .anima.fade-left{
    opacity:1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform:translateX(0px);
}

.touch .anima.fade-up{
    opacity:1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform:translateY(0px);
}

.touch .anima.fade-down{
    opacity:1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform:translateY(0px);
}

/*-----  End of Scroll animation  ------*/