<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/seller/home}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Home Page</button>
</form>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/additem}"
                  method="post" class="form-horizontal" enctype="multipart/form-data"
                  role="form">
                <h2>Product Form</h2>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('product.productName')}" th:errors="*{product.productName}" class="validation-message"></label>
                        <input type="text" th:field="*{product.productName}" placeholder="Product Name"
                               class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('product.price')}" th:errors="*{product.price}" class="validation-message"></label>

                        <input type="number" th:field="*{product.price}"
                               placeholder="Price" class="form-control" />
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('product.quantity')}" th:errors="*{product.quantity}" class="validation-message"></label>
                        <input type="number" th:field="*{product.quantity}"
                               placeholder="Quantity" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('description')}" th:errors="*{product.description}" class="validation-message"></label>

                        <input type="text" th:field="*{description}" placeholder="Description"
                               class="form-control" />

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('product.image')}" th:errors="*{product.image}" class="validation-message"></label>
                        <input type="file" th:field="*{product.image}" class="form-control" />
                    </div>
                </div>

                <label
                        class="validation-message"></label>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Add Product</button>
                    </div>
                </div>
                <span th:utext="${successMessage}"></span>
            </form>

        </div>
    </div>
</div>

</body>
</html>