<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/edit_product}"
            th:object="${product}" method="post" class="form-horizontal"
                  role="form">
                <h2>Edit Product Form</h2>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="validation-message"></label>
                        <input type="hidden" th:field="*{id}" th:placeholder="${product.getId()}"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="validation-message"></label>
                        <input type="text" th:field="*{productName}" th:placeholder="${product.getProductName()}"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="validation-message"></label>
                        <input type="number" th:field="*{price}"
                               th:placeholder="${product.getPrice()}" class="form-control" />
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="validation-message"></label>
                        <input type="number" th:field="*{quantity}"
                               th:placeholder="${product.getQuantity()}" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="validation-message"></label>
                        <input type="text" th:field="*{description}" th:placeholder="${product.getDescription()}"
                               class="form-control" />
                        <label
                                class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Edit Product</button>
                    </div>
                </div>
                <span th:utext="${successMessage}"></span>
            </form>




        </div>
    </div>
</div>

</body>
</html>