<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Buyer Home</title>
    <h2>Buyer Home</h2>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="form-group">
        <div class="col-md-12">
            <form action="#" th:action="@{/buyer/searchproducts}" method="POST">
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" id="search" name="search" class="form-control input-sm-10" placeholder="" />

                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info btn-sm-10" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout</button>
    </form>

        <form action="#" th:action="@{/buyer/searchproducts}" method="POST">
            <input type="text" id="search" name="search" class="form-control input-sm-10" placeholder="" type="hidden"/>
            <button class="btn btn-md btn-default btn-block" name="View Products"
                type="Submit">View Products</button>
        </form>

    <form th:action="@{/buyer/purchasehistory}" method="get">
        <button class="btn btn-md btn-default btn-block" name="View Purchase History"
                type="Submit">View Purchase History</button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <img th:src="@{/images/beer.jpg}" class="img-responsive center-block" width="400" height="400" alt="Beer" />
            </div>
            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
        </div>
    </div>

</div>
</body>
</html>