<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Purchase history</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/buyer/home}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Home Page</button>
</form>
<form th:action="@{/buyer/products}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To View Products Page</button>
</form>
<div class="page-header">
    <h3>My Purchase history</h3>
</div>
<div class="col-md-12 container-fluid">
    <div class="container">
        <ul th:each="cart : ${carts}">
            <label>
                <span th:text="'Cart ' + ${cart.getDateTimeField()}"></span>
            </label>
            <li th:each="product : ${cart.getCartProducts()}">
                <span th:text="'Name : ' + ${product.getProduct().getProductName()} + ' | '"></span>
                <span th:text="'Quantity : '+ ${product.getQuantity().toString()} + ' | '"></span>
                <span th:text="'Bought at : '+${product.getPriceBoughtAt().toString()} + ' | '"></span>
                <span th:text="'Total : '+${product.getTotal()}"></span>
            </li>
        </ul>
    </div>
</body>
</html>