<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Cart</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/buyer/home}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Home Page</button>
</form>
<form action="#" th:action="@{/buyer/searchproducts}" method="POST">
    <input type="text" id="search" name="search" class="form-control input-sm-10" placeholder="" type="hidden"/>
    <button class="btn btn-md btn-default btn-block" name="View Products"
            type="Submit">View Products</button>
</form>
<div class="page-header">
    <h3 th:text="${user.getName()} + ' | My Cart'"></h3>
</div>
<div class="col-md-12 container-fluid">
    <div class="container">
        <table class="table">
            <thead>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Seller</th>

            </thead>
            <tbody>
            <tr th:each="cp : ${cartProducts}">
                <td th:text="${cp.getProduct().getProductName()}"></td>
                <td th:text="${cp.getProduct().getPrice()}"></td>
                <td th:text="${cp.getQuantity()}"></td>
                <td th:text="${cp.getProduct().getUser().getName()}"></td>
                <td>
                    <form th:action="@{/buyer/delete}" method="post">
                        <input type="hidden" th:value="${cp.getCartProductId()}" name="cart_product_id"/>
                        <button class="btn btn-md btn-danger btn-block" name="remove"
                                type="Submit">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <h2 th:text="'Total Price:' + ${totalPrice}"></h2>
    </div>
    <p style="color:red; text-align: center; font-size: 32px;" th:text="${emptyMsg}"></p>
    <ul th:each="diffPrice : ${priceChanged}">
        <li th:text="${diffPrice}"></li>
    </ul>
    <form th:action="@{/buyer/payment}" method="get">
        <input type="hidden" th:value="${cart.getCartId()}" name="cart"/>
        <button class="btn btn-md btn-warning btn-block" type="Submit">Checkout</button>
    </form>


</body>
</html>