<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Products</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="page-header">
    <h3 th:text="${user.getName()} + ' | My Products'"></h3>
</div>
<div class="col-md-12 container-fluid">
    <div class="container">
        <table class="table">
            <thead>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Seller</th>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.getProductName()}"></td>
                <td th:text="${product.getPrice()}"></td>
                <td th:text="${product.getQuantity()}"></td>
                <td th:text="${product.getDescription()}"></td>
                <td th:text="${product.getUser().getName()}"></td>
                <td><form th:action="@{/buyer/buy}" method="post">
                    <input type="hidden" th:value="${product.getId()}" name="product"/>
                    <button class="btn btn-md btn-success btn-block" name="Buy"
                            type="Submit">Buy</button>
                </form>
                </td>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>