<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Cart</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/buyer/home}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Home Page</button>
</form>

<form th:action="@{/buyer/viewcart}" method="get">
    <input type="hidden" th:value="${cart}" name="cart"/>
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Cart</button>
</form>

<div class="form-group">
    <div class="col-md-12">
        <form action="#" th:action="@{/buyer/searchproducts}" method="POST">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" id="search" name="search" class="form-control input-sm-10" th:placeholder="${search}" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-sm-10" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

<div class="page-header">
    <h3 th:text="${user.getName()} + ' | Products View'"></h3>
</div>
<div class="col-md-12 container-fluid">
    <div class="container">
        <table class="table">
            <thead>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Seller</th>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.getProductName()}"></td>
                <td th:text="${product.getPrice()}"></td>
                <td th:text="${product.getQuantity()}"></td>
                <td th:text="${product.getDescription()}"></td>
                <td th:text="${product.getUser().getName()}"></td>

                <td>
                    <div th:switch="${errorProduct}">
                        <p th:case="${product.getId()}" style="color:red;" th:text="${errorMessage}"></p>
                    </div>
                    <div th:switch="${successProduct}">
                        <p th:case="${product.getId()}" style="color:blue;" th:text="${successMessage}"></p>
                    </div>
                    <form th:action="@{/buyer/products}" method="post">
                    <input type="hidden" th:value="${product.getId()}" name="product"/>
                    <input type="number" name = "quantity" th:placeholder="Quantity" th:value = 1 class="form-control" />
                    <button class="btn btn-md btn-success btn-block" name="Buy"
                            type="Submit">Buy</button>
                </form>
                </td>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>